@model coreBasicNet5.Entities.cRol

@using (Html.BeginForm("RolEdit", "Admin", FormMethod.Post))
{
    @Html.Partial("_RolDetails", Model)

  <div class="col-md-8">
    <button id="submit" name="submit" class="btn btn-primary" value="1">Grabar</button>
    <a href="/Admin/RolIndex/" id="cancel" class="btn btn-default">Volver</a>
  </div>
}