@model coreBasicNet5.Entities.cUsuario

 @Html.Partial("_UsuarioDetails", Model)
<div class="row">
  <div class="col-md-8">
    <a href="/Admin/UsuarioIndex/" id="cancel" class="btn btn-default">Volver</a>
  </div>
</div>